@import "tailwindcss";

.flex-center {
  @apply flex justify-center items-center
}


@theme{
   --color-custom-grey-500: #667085;
   --color-custom-grey-300: #D0D5DD;
   --color-custom-grey-400: #98A2B3;
   --color-custom-primary-500: #635AFF;
   --color-admin-violet: #7C67F5;
   --color-admin-violet-border: #a597f8;
   --color-light-secondary: #99B2C6;
   --color-admin-light-background: #F9FBFC;
}


/* Hide Pickr's internal button */
.pickr .pcr-button {
  display: none !important;
}


/* Chrome, Safari, Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
